html {
  background-color: whitesmoke;
}

.App {
  /* text-align: center; */
  background-color: whitesmoke;
  font-family: Hanuman;
  color: black;
}

.App a {
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #15B7B9;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: grey;
}

#nav-img {
  display: flex;
  background-color: grey;
  height: 18vh;
}

#nav-links a,
#nav-login a {
  margin: 0 5px 0 5px;
  color: white;
}

#search-bar {
  margin: 1vh 0 1vh 1vh;
}

#search-bar button {
  color: #15B7B9;
  font-weight: bold;
  border-color: black;
  background-color: grey;
}

.movie-block {
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 10px -5px .4em #15B7B9;
  height: 25vh;
  margin: 2%;
}

#all-movie-cards {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  margin: 2%;
  padding: 2%;
  width: 20vw;
  display: flex;
  text-align: center;
}

.movie-card img,
#movie-card-poster img {
  box-shadow: 5px -5px .4em black;
  margin-top: 4%;
  margin-bottom: 4%;
}

.moviedata-details {
  font-weight: bold;
  text-decoration: underline;
}

#add-movie-card {
  display: flex;
}


#add-movie-card {
  padding: 2%;
}

#add-movie-btn {
  margin-left: 3%;
}

#movie-card-data {
  padding: 2% 4% 2% 4%;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 5px -5px .4em black;
  background-color: whitesmoke;
  /* width: 50%; */
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#movie-card-data p {
  display: flex;
}

#comment-title {
  font-weight: bold;
  text-decoration: underline;
}

#profile-title {
  font-size: xx-large;
  text-decoration: underline;
  color: #15B7B9;
}

#ratings {
  display: flex;
  flex-direction: column;
}

#ratings p {
  margin: .8em 0 .8em 0;
  color: #15B7B9;
  /* text-decoration: underline; */
  font-weight: bold;
  font-size: x-large;
  border: 1px solid black;
  box-shadow: 5px -5px .4em black;
  width: fit-content;
  padding: .5em;
  border-radius: 50%;
}

.rating-label {
  font-weight: bold;
  border: 1px solid black;
  padding: .19em;
  border-radius: 30px;
  box-shadow: 5px -5px .4em black;
  background-color: #15B7B9;
}


#movie-card-data button {
  width: 15vw;
}

#movie-card-poster {
  text-align: center;
}

#movie-card-and-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

#comments {
  margin-top: 5vh;
}

.comment-card {
  margin: 3em;
  padding: 6%;
  border: 1px solid black;
  width: 30em;
  border-radius: 30px;
  box-shadow: 5px -5px .4em black;
  background-color: whitesmoke;
}

#login-form {
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 5px -5px .4em black;
  width: 25vw;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
}

#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-card {
  margin-top: 5vh;
  display: flex;

}

#delete-modal {
  padding: 2px;
  display: flex;
  flex-direction: column;
}

#profile-img {
  height: 30vh;
  margin: 3%;

}

#prof-img {
  height: 30vh;
  width: auto;
  border-radius: 30px;
  box-shadow: 5px -5px .4em black;
  border: 1px solid black;
}

#profile-data {
  margin: 3%;
}

#profile-page {
  margin: 3%;
  padding: 3%;
  height: fit-content;
}

.rating-card {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  padding: 2%;
  margin: 1%;
  border-radius: 30px;
  box-shadow: 5px -5px .4em black;
  width: 50%;
}

.rating-buttons {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.rating-buttons button {
  margin: 1%;

}

#ratings-page {
  margin: 3%;
  padding: 3%;
}

#user-info {
  font-weight: bold;
  text-decoration: underline;
}

#profile-data h3 {
  margin: 2% 0 2% 0;
}

#img-card {
  display: flex;
  flex-direction: column;
}

#update-photo-form {
  display: flex;
  flex-direction: column;
  margin: 3% 1% 1% 1%;
}

#update-photo-form button {
  width: 10vw;
  margin: 1%;
  border: 1px solid black;
}

#update-form {
  /* background-color: grey; */
  /* padding: 5%; */
  margin: 10px;
  display: flex;
  flex-direction: column;
}

#silly-button {
  background-color: #15B7B9;
  /* border: 1px solid black */
}

#rating-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: max-content;
  margin: 10px;
  width: auto;
}